#baseBorder {
	-fx-background-image: url('/images/back.jpg');
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-border-color: #424242;
    -fx-border-width: 5px;
    -fx-padding: 5 5 5 5;
    -fx-spacing: 5;
}
#shadowMenu {
	-fx-background-color: rgba(0,0,0,0.5); 
}

#jfx-slider-style > .thumb {
    -fx-background-color: #03a9f4;
}

#jfx-slider-style .track {
    -fx-background-color: #ff5252;
}

#jfx-slider-style .sliderValue {
    -fx-stroke: blue;
    -fx-font-size: 10.0;
}

#jfx-slider-style {
    -fx-background-color: transparent;
}

#popup-box {
    -fx-background-color: transparent ;
    -fx-padding: -10;
    -fx-background-radius: 20;
}
.jfx-snackbar-content {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 10;
    -fx-translate-y: -10;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

#radial-menu {
	-fx-padding: 0 0 -65 -83;
}

.jfx-text-field {
	-fx-background-color: #D1C4E9;
	-fx-border-style: none;
	-fx-border-width: 0;
	-fx-border-radius: 10;
	-fx-background-radius: 5;
	-jfx-focus-color: transparent;
	-jfx-unfocus-color: transparent;
	-fx-animated: true ;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
}

.jfx-text-field:hover {
	-fx-background-color: #D1C4E9;
	-fx-border-style: none;
	-fx-border-width: 0;
	-fx-border-radius: 10;
	-fx-background-radius: 5;
	-jfx-focus-color: transparent;
	-jfx-unfocus-color: transparent;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

/*LIST VIEW */
#popup-list-view .list-cell:selected {
	-fx-background-color: transparent ;
}
#popup-list-view .list-cell{
	-fx-background-color: transparent;
	-fx-background-radius: 5 5 10 5;
}

#popup-list-view .list-cell:hover{
	-fx-background-color: rgba(255,255,255,0.6);
	-fx-background-radius: 5 5 10 5;
}

#popup-list-view {
	-fx-background-radius: 5 5 10 5;
	-fx-background-color: transparent ;
	-fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
    -fx-min-width: 200;
    -fx-min-height: 230;
}
.jfx-popup-container {
	-fx-background-radius: 5 5 10 5;
	-fx-background-color: rgba(255,255,255,0.95);
}
#label-list-view{
	-fx-text-fill: #01579B;
}

#list-view .list-cell:hover {
	-fx-background-color: #B3E5FC;
}


/*LIST VIEW */
#listViewPort .list-cell:selected {
	-fx-background-color: transparent ;
}
#listViewPort .list-cell{
	-fx-background-color: transparent;
	-fx-background-radius: 5 5 10 5;
}

#listViewPort .list-cell:hover{
	-fx-background-color: rgba(255,255,255,0.6);
	-fx-background-radius: 5 5 10 5;
}

#listViewPort {
	-fx-background-radius: 5 5 10 5;
	-fx-background-color: transparent ;
	-fx-background-insets: 0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10;
    -jfx-expanded: false;
    -fx-min-width: 200;
    -fx-min-height: 230;
}
.listViewPort {
	-fx-background-radius: 5 5 10 5;
	-fx-background-color: rgba(255,255,255,0.95);
}
#listViewPort{
	-fx-text-fill: #01579B;
}

#listViewPort .list-cell:hover {
	-fx-background-color: #B3E5FC;
}

#refreshButton {
	-fx-alignment: center;
	-fx-min-width: 250;
}

#titlePort{
	-fx-alignment: center;
	-fx-min-width: 250;
	-fx-font-size: 20;
}

